<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Detection of Covid-19 using XRAY images</div>
    <p>
      Upload an XRAY image of using the button SELECT IMAGE and then press ANALYZE to get the results.
    </p>
    <p>
      DO NOT USE THESE RESULTS TO DIAGNOSE THE PRESENCE OF COVID-19 IN PACIENTS, THE MODEL HAS NOT BEEN VALIDATED AND IT IS ONLY A TEST
    </p>
    <p>
      Done by Marco Portocarrero, Joe Alexander Salas and Janet Adriana, contact: marco.portocarrero[at]pucp[dot]edu[dot]com
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
